<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Укажите ваш экземпляр SQL Server. Пример LocalDB: -->
    <add name="MasterConnection" connectionString="Server=SAHAR\SQLSERVER;Database=master;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="AppConnection" connectionString="Server=SAHAR\SQLSERVER;Database=ClickMediaTimeDB;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
